<%= form_for([:dashboard, @website_page]) do |f| %>
  <% if @website_page.errors.any? %>
  <div id="error_explanation">
  <h2><%= pluralize(@website_page.errors.count, "error") %> prohibited this website_page from being saved:</h2>

  <ul>
    <% @website_page.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  <% end %>
  </ul>
</div>
  <% end %>

<div class="field">
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :path %><br />
  <%= f.text_field :path %>
</div>

<div class="field">
  <table>
    <tr>
      <td>
        <%= f.label :published %></td>
      <td>
        <%= f.check_box :published %></td>
    </tr>
  </table>
</div>

<div class="field markdown-editor">
  <%= f.label :body_markdown %> 
  <a id="mde-preview" class="mde-preview secondary small button">Click here to preview your text..</a>
  <div id="mde-container">
    <%= f.text_area :body_markdown,  :id => "mde-textarea"  %>
    <div id="mde-previewarea"></div>
  </div>

 </div> 
 <br><br>
 <br>

<div class="actions">
<%= f.submit %>
</div>
<% end %>
