<div class="row">
  <div class="twelve columns">
    <h1>Listing pages</h1>

    <table>
      <tr>
        <th>Title</th>
        <th>Path</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @website_pages.each do |website_page| %>
        <tr>
        <td><%= website_page.title %></td>
        <td><%= website_page.path %></td>
        <td><%= link_to 'Show', [:dashboard, website_page] %></td>
        <td><%= link_to 'Edit', edit_dashboard_website_page_path(website_page) %></td>
        <td><%= link_to 'Destroy', [:dashboard, website_page], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'New Website page', new_website_page_path %>

  </div>
</div>
