<div class="row">
  <div class="twelve columns"> 
    <p id="notice"><%= notice %></p>

    <p>
    <b>Title:</b>
    <%= @website_page.title %>
    </p>

    <p>
    <b>Body markdown:</b>
    <%= @website_page.body_markdown %>
    </p>

    <p>
    <b>Path:</b>
    <%= @website_page.path %>
    </p>


    <%= link_to 'Edit', edit_dashboard_website_page_path(@website_page) %> |
    <%= link_to 'Back', dashboard_website_pages_path %>

  </div>
</div>
