<div class="row">
  <div class="twelve columns">
    <h4>workouts
      <% if is_admin? %>
        <small><%= link_to "add workout", new_workout_path %></small>
      <% end %></h4>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <% @workouts.each do |workout| %>
      <div class="workout">
        <h5><%= workout.type %></h5>
        <p><strong>Intensity: <%= workout.intensity %> - <strong>Count/Length:</strong> <%= workout.length %> <br/>
          <%= workout.comments %> </p>
      </div>
    <% end %>
  </div>
</div>

