<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @thought.title %>
</p>

<p>
  <b>Body:</b>
  <%= @thought.body %>
</p>


<%= link_to 'Edit', edit_thought_path(@thought) %> |
<%= link_to 'Back', thoughts_path %>
