<%= form_for([:dashboard, @website], :url => dashboard_website_path) do |f| %>
  <% if @website.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@website.errors.count, "error") %> prohibited this website from being saved:</h2>

      <ul>
      <% @website.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :domain %><br />
    <%= f.text_field :domain %>
  </div>
  <div class="field">
    <%= f.label :website_pages_enabled %><br/>
    <%= f.check_box :website_pages_enabled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
