<!DOCTYPE html>
<html>
<head>
<title>Thomasite</title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>
<div id="topbar">
  <div class="row"> 
    <div class="six columns logo-holder">
      <h1 id="logo" style="display:inline;"><%= @user.first_name %><strong><%= @user.last_name %></strong></h1>
    </div>
    <div class="six columns">
      <ul class="inline nav">
      </ul>
    </div>
  </div>
</div>

<% if notice %>
  <div class="row">
  <div class="twelve columns">
    <br>
    <div class="alert-box secondary">
      <%= notice %> 
      <a href="" class="close">&times;</a>
    </div>
  </div>
</div>
<% end %>
<div class="row">
  <div class="twelve columns">
    <%= yield %>
  </div>
</div>
</body>
</html>
